<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Leaflet</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-select class="dropdown-map" (ionChange)="onBasemapChange($event)" interface="popover" placeholder="Pilih basemap">
         <ion-select-option value="topo">Topo</ion-select-option>
         <ion-select-option value="streets">Streets</ion-select-option>
         <ion-select-option value="hybrid">Hybrid</ion-select-option>
       </ion-select>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="mapId" style="height: 100%; width: 100%;"></div>
</ion-content>
